<header class="ae-container-fluid ae-container-fluid--full rk-header ">
    <input type="checkbox" id="mobile-menu" class="rk-mobile-menu">
    <label for="mobile-menu">
      <svg>
        <use xlink:href="assets/img/symbols.svg#bar"></use>
      </svg>
      <svg>
        <use xlink:href="assets/img/symbols.svg#bar"></use>
      </svg>
      <svg>
        <use xlink:href="assets/img/symbols.svg#bar"></use>
      </svg>
    </label>
    <div class="ae-container-fluid rk-topbar">
        <h1 class="rk-logo"><a href="index.html"><strong>Gestión Contable</strong><sup>R</sup></a></h1>
        <nav class="rk-navigation">
            <ul class="rk-menu">
                <li routerLinkActive="active" class="rk-menu__item"><a routerLink="home" class="rk-menu__link">Home</a>
                </li>
                <li routerLinkActive="active" class="rk-menu__item"><a routerLink="about" class="rk-menu__link">Nosotros</a>
                </li>
                <li routerLinkActive="active" class="rk-menu__item"><a routerLink="clientes" class="rk-menu__link">Nuestros Clientes</a>
                </li>
                <li routerLinkActive="active" class="rk-menu__item"><a routerLink="login" class="rk-menu__link">Login Empleados</a>
                </li>
                <li routerLinkActive="active" class="rk-menu__item"><a routerLink="contactanos" class="rk-menu__link">Contactanos</a>
                </li>
            </ul>
        </nav>
    </div>
</header>