<div class="animated fadeIn ae-grid au-xs-ta-center au-mb-4">
    <div class="item-lg-4 ae-kappa au-mb-3"><img src="assets/img/team-1.jpg" alt="" class="au-mb-3">
        <h3 class="ae-u-bolder au-mt-2">Nuestro Equipo</h3>
        <p class="ae-u-bolder au-mb-3">Contadores</p>
        <p class="au-lg-ta-left au-mb-3 au-pl-4 au-pr-4">Contamos con una nomina extensa para satisfacer las necesidades de nuestros clientes.</p><a href="htt://twitter.com" class="ae-u-bolder au-underline">@gestioncontable</a>
    </div>

</div>
<div class="login100-form-title p-b-51">
    <div class="ae-grid__item item-lg-8 item-lg--offset-2">
        <h1 class="login100-form-title p-b-51"><strong>Gestión Contable</strong></h1>
        <h3>Sin importar cual sea el campo de tu empresa, estamos capacitados para asumir las responsabilidades que conlleva llevar las riendas contables, fiscales y de nomina de su empresa.</h3>
    </div>
</div>
<div class="ae-grid ae-grid--alt au-xs-ptp-1">
    <div class="ae-grid__item--alt item-lg-4">
        <h2 class="ae-u-boldest">Misión</h2>
        <p class="au-lh-3">Dar a nuestros clientes rentabilidad en sus negocios.</p>
    </div>
    <div class="ae-grid__item--alt item-lg-4">
        <h2 class="ae-u-boldest">Visión</h2>
        <p class="au-lh-3">Asumir retos y estar en constante actualización para asumirlos responsablemente.</p>
    </div>
    <div class="ae-grid__item--alt item-lg-4">
        <h2 class="ae-u-boldest">Nuestros Clientes</h2>
        <p class="au-lh-3">Contamos con clientes satisfechos en distintos ramos de la insdustria.</p>
    </div>
</div>
