<div class="container-login100">
    <div class="wrap-login100 p-t-50 p-b-90">
        <button (click)="onClickMe()" class="login-form-btn" type="submit">
            LOGIN
        </button>
        <div class="wrap-input100 m-b-16">
            <h3>
                {{MessageLog}}
            </h3>
        </div>
        <button (click)="onClickMe2()" class="lunch-form-btn" type="submit">
            LUNCH
        </button>
        <div class="wrap-input100 m-b-16">
            <h3 class="text-muted">
                {{MessageLunch}}
            </h3>
        </div>
        <button (click)="onClickMe3()" class=" logout-form-btn ">
            LOGOUT
        </button>
        <div class="wrap-input100 m-b-16 ">
            <h3 class="text-muted ">
                {{Messageout}}
            </h3>
        </div>
        <button (click)="onClickMe4()" class=" logout-form-btn ">
            SALIR
        </button>
    </div>
</div>