<div class="animated fadeIn au-xs-ta-center au-lg-ta-left">
</div>
<div class="ae-masonry ae-masonry-md-2 ae-masonry-xl-4">
    <a href="https://www.ecopetrol.com.co/wps/portal/es" target="_blank" class="rk-item ae-masonry__item"><img src="assets/img/project-1.jpg" alt="">
        <div class="item-meta">
            <h2>Ecopetrol</h2>
            <p>Hidrocarburos</p>
        </div>
    </a>
    <a href="https://www.rimax.com.co/" target="_blank" class="rk-item ae-masonry__item"><img src="assets/img/project-2.jpg" alt="">
        <div class="item-meta">
            <h2>Rimax</h2>
            <p>Plasticos</p>
        </div>
    </a>
    <a href="https://www.caracoltv.com/" target="_blank" class="rk-item ae-masonry__item"><img src="assets/img/project-3.jpg" alt="">
        <div class="item-meta">
            <h2>Caracol TV</h2>
            <p>Medios</p>
        </div>
    </a>
    <a href="https://www.ecopetrol.com.co/wps/portal/es" target="_blank" class="rk-item ae-masonry__item"><img src="assets/img/project-1.jpg" alt="">
        <div class="item-meta">
            <h2>Ecopetrol</h2>
            <p>Hidrocarburos</p>
        </div>
    </a>
    <a href="https://www.rimax.com.co/" target="_blank" class="rk-item ae-masonry__item"><img src="assets/img/project-2.jpg" alt="">
        <div class="item-meta">
            <h2>Rimax</h2>
            <p>Plasticos</p>
        </div>
    </a>
    <a href="https://www.caracoltv.com/" target="_blank" class="rk-item ae-masonry__item"><img src="assets/img/project-3.jpg" alt="">
        <div class="item-meta">
            <h2>Caracol TV</h2>
            <p>Medios</p>
        </div>
    </a>